* text=auto
.gitattributes !filter !diff

.env.example linguist-language=Dotenv
.vscode/*.json linguist-language=JSON-with-Comments
wrangler.json linguist-language=JSON-with-Comments
apple-app-site-association linguist-language=JSON

routeTree.gen.ts linguist-generated=true
worker-configuration.d.ts linguist-generated=true