ENVIRONMENT="development"

# faucet
DRIP_PRIVATE_KEY=""

# verify
VERIFY_CONFIG_URL=""

# onramp/external
STRIPE_API_KEY=""
STRIPE_PUBLISHABLE_KEY=""

SANDBOX_STRIPE_API_KEY=""
SANDBOX_STRIPE_PUBLISHABLE_KEY=""

# onramp - mercuryo
SDK_PARTNER_TOKEN=""
WIDGET_ID=""
AUTH_SECRET_KEY=""
AUTH_SIGN_KEY=""
API_BASE_URL=""
WIDGET_URL=""

# onramp - coinbase
COINBASE_CLIENT_API_KEY=""
COINBASE_PROJECT_ID=""
COINBASE_SECRET_KEY_ID=""
COINBASE_SECRET_KEY=""
COINBASE_API_BASE_URL=""

# onramp /external
SANDBOX_SDK_PARTNER_TOKEN=""
SANDBOX_WIDGET_ID=""
SANDBOX_AUTH_SECRET_KEY=""
SANDBOX_AUTH_SIGN_KEY=""
SANDBOX_API_BASE_URL=""
SANDBOX_WIDGET_URL=""
