@import "tailwindcss";

:root {
  color-scheme: light dark;
}

/* biome-ignore format: <explanation> */
@theme {
  --color-neutral-0: light-dark(oklch(100% 0 0), oklch(10.39% 0.0194 248.34));
  --color-neutral-1: light-dark(oklch(97.82% 0.0034 247.86), oklch(17.63% 0.014 258.36));
  --color-neutral-2: light-dark(oklch(95.97% 0.0052 247.88), oklch(21.98% 0.0182 255.71));
  --color-neutral-3: light-dark(oklch(93.54% 0.008 253.86), oklch(27.35% 0.0179 251.92));
  --color-neutral-4: light-dark(oklch(92.18% 0.0094 242.84), oklch(29.16% 0.0202 260.62));
  --color-neutral-5: light-dark(oklch(90.42% 0.0116 252.09), oklch(31.12% 0.0221 259.38));
  --color-neutral-6: light-dark(oklch(88.12% 0.013 244.27), oklch(33.39% 0.0223 256.4));
  --color-neutral-7: light-dark(oklch(85.65% 0.0159 248.01), oklch(38.37% 0.0179 254.74));
  --color-neutral-8: light-dark(oklch(63.29% 0.0228 254.97), oklch(52.87% 0.0179 257.24));
  --color-neutral-9: light-dark(oklch(49.51% 0.0215 250.78), oklch(67.69% 0.0155 254.64));
  --color-neutral-10: light-dark(oklch(41.32% 0.0162 251.74), oklch(79.7% 0.0169 262.74));
  --color-neutral-11: light-dark(oklch(36.48% 0.0145 252.28), oklch(87.72% 0.014 258.35));
  --color-neutral-12: light-dark(oklch(27.9% 0.0109 254.02), oklch(97.03% 0.0103 247.93));
  --color-neutral-13: light-dark(oklch(25.42% 0.0111 254.04), oklch(100% 0 0));
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}
