@import "tailwindcss" important;
@import "../app/src/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

.vocs_Navigation,
.vocs_NavigationMenu_list {
  align-items: center;
}

/***
 *** `/demo` sytles
 ***/

@theme {
  --animate-fade-pulse: fade-pulse 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @keyframes fade-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
