/* reset */
* {
  box-sizing: border-box;
  min-width: 0;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* base styles */
:root {
  color: #8d8d8d;
  color-scheme: light;
  background-color: #f9f9f9;
}
body {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Text", system-ui, sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  outline-color: #f0f0f0;
}
strong {
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
pre {
  overflow: scroll;
}
#root {
  min-height: 100dvh;
}
